{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}

    <div class="row w-100 mt-5 ml-0">
        <div class="col-12 col-md-4 offset-md-4 text-center text-light">
            <p>Un email a été envoyé à cette adresse. Ce mail contient un lien vous permettant de réinitialiser votre mot de passe. Ce lien aura expiré dans {{ tokenLifetime|date('g') }} heures.</p>
            <p>Si vous n'avez pas reçu notre email dans votre de réception, pensez à regarder dans votre courrier indésirable, ou <a href="{{ path('forgot_password_request') }}">recommencer</a>.</p>
        </div>
    </div>
{% endblock %}
