{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row w-100 ml-0 mt-4">
        <div class="col-12 col-md-8 offset-md-2 text-center text-light">
            <h1 >Réinitialiser votre mot de passe</h1>
        </div>
    </div>

    <div class="row w-100 ml-0 mt-4">
        <div class="col-12 col-md-4 offset-md-4 text-center text-light">
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Nous vous enverrons rapidement à cette adresse un lien pour réinitialiser votre mot de passe.
                </small>
            </div>
            <button class="btn btn-primary mt-4">Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>

{% endblock %}