{% extends "base.html.twig" %}

{% block title %}Coin Presse{% endblock %}

{% block body %}

    <div class="row w-100 my-3 ml-0 bg-h1">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-body my-2 my-md-5">COIN PRESSE</h1>
        </div>
    </div>

    <div class="row w-100 ml-0">
        <div class="col-8 offset-2"></div>
    </div>

{% endblock %}