{% extends "base.html.twig" %}

{% block title %}Coin Presse{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light">Coin Presse</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2"></div>
    </div>

{% endblock %}