{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="row w-100 my-3 ml-0">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light">Contactez-nous</h1>
        </div>
    </div>

    <div class="row w-100 my-3 ml-0">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-light">
            {{ form(form) }}
        </div>
    </div>



{% endblock %}