{% extends "base.html.twig" %}

{% block title %}Faire un don{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light">Faire un don</h1>
        </div>
    </div>

    <div>
        
    </div>

{% endblock %}