{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Bienvenue et Bénévoles -->
    <div class="row welcome-benevole">
        <div class="col-12 col-md-8 col-xl-6 welcome p-3 position-relative">
            <h2>BIENVENUE</h2>
            <p>Notre projet :</p>
            <p class="mb-4">Contribuer à offrir à tous l'accès aux loisirs, la possibilité de partager un moment convivial et privilégié ou...</p>
            <a href="#" class="block position-absolute m-3">LIRE PLUS ></a>
        </div>
        <div class="col-12 col-md-4 col-xl-2 offset-xl-1 benevole text-center py-4 py-md-0 d-md-flex flex-column justify-content-center">
            <a href href=""><h2>Devenir</h2>
            <h3>Bénévole</h3></a>
            <a href="#" class="mt-md-5">Rejoignez-nous ></a>
        </div>
    </div>
{% endblock %}
