{% extends "base.html.twig" %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-8 offset-2 col-lg-4 offset-lg-4 text-center">
            <h1 class="text-light fun-title">{{ event.title }}</h1>
        </div>
    </div>

    <div class="row article-view">
        <!--Bouton pour modif ou supprimer l'article-->
        {% if is_granted('ROLE_ADMIN') %}
            <p class="col-12 col-md-2 offset-md-5 text-center alert alert-primary"><a href="{{path('edit', {slug: event.slug, csrf_token: csrf_token('edit' ~ event.slug) }) }}">Modifier l'article</a></p>
            <p class="col-12 col-md-2 offset-md-5 text-center alert alert-danger"><a href="{{path('delete', {id: event.id, csrf_token: csrf_token('delete_' ~ event.id )}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')">Supprimer l'article</a></p>
        {% endif %}
    </div>

{% endblock %}